html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: normal;
    color: #917B6B;
}
  
h1 {
    font-size: 100px;
}
  
h2 {
    font-size: 50px;
    margin-bottom: 10px;
}
  
h3 {
    font-size: 24px;
    margin: 7px 0;
}
  
p {
    font-size: 15px;
}

a {
    font-weight: 800;
    color: #BC8C68;
    text-decoration: none;
}

.colunas4 p {
    font-size: 13px;
}

.colunas4 a {
    font-size: 14px;
}

.hamburger {
    height: 0px auto;
    width: 0px auto;
    padding: 0px auto;
    display: block;
    z-index: 1;
}
  
#checkbox-menu{
    position: absolute;
    opacity: 0;
}

.menu, .submenu {
    list-style: none;
    background-color: #ffede2;
    z-index: 1;
}

.menu {
    position: fixed;
    width: 100vw;
    font-size: 18px;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
}

.menu a {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: #917B6B;
}

.submenu {
    font-size: 16px;
    display: none;
    position: absolute;
    min-width: 12em;
    background: rgb(243, 195, 199);
}


.menu a > li:hover {
    color: #665c5c;
} 


.menu li:hover > .submenu {
    display: block;
}


.submenu li:hover {
    background:  rgb(243, 195, 199);
} 


.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}


.intro {
    position: absolute;
    top: 380px;
    left: 10%;
    color: white;
    width: 70%;
}

.intro02 {
    position: absolute;
    top: 230px;
    right: 10%;
    color: white;
}

.intro p {
    width: 50%;
}
.parallax { 
    background-image: url("dango.jpg");
    height: 500px; 
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.textcontainer {
    margin: 30px 0;
    text-align: center;
}

.textcontainer a {
    margin: 15px;
}

.header {
    padding: 100px 0 30px 0;
    text-align: center;
}

.header a {
    margin: 15px;
}

.fundoamarelo {
    background-color: rgb(238, 231, 171);
    padding: 30px;
    text-align: center;
}

.textoamarelo {
    position: absolute;
    top: 750px;
    left: 5%;
    color: white;
    text-align: left;
    width: 60%;
}

.colunas4 {
    box-sizing: border-box;
    float: left;
    width: 25%;
    text-align: center;
    padding: 1%;
}

.colunas5 {
    box-sizing: border-box;
    float: left;
    width: 20%;
    text-align: center;
    padding: 1%;
}

.colunas4 img {
    width: 100%;
    margin-bottom: 10px;
}

.colunas5 img {
    width: 100%;
    margin-bottom: 10px;
}

.container4 h3 {
    margin: 10px;
}

.containermargem {
    margin: 0 10vw;
}

.colunas3 {
    box-sizing: border-box;
    float: left;
    width: 33.3333333333333333333333333333333333333%;
    text-align: center;
    padding: 1.5%;
}

.colunas3 img {
    width: 100%;
    margin-bottom: 10px;
}

.button {
    background-color: rgb(236, 162, 168);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
  }
  
.button:hover {
    background-color: rgb(236, 148, 156);
    color: white;
  }

.colunas3full {
    float: left;
    width: 33.33333333333%;
    text-align: center;
    height: auto;
    position: relative;
}

.containerhover {
    position: relative;
    width: 100%;
}

.imghover {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffaebb;
}
  
.colunas3full:hover .overlay {
    opacity: 1;
}

.colunas3full a {
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

  
footer {
    margin: 0px auto;
    padding: 2vw;
    background-color: #cfc78e;
    color: white;
    font-size: 18px;
}

footer a {
    color:white;
    font-weight: normal;
}

.quatrocolunas {
    float: left;
    width: 20vw;
    text-align: left;
    margin: 1.72vw;
}

@media (max-width: 600px) {

    .menu-container ul li a {
        font-size: 16px;
    }

    .menu a {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
    }

    .menu > li {
        float: right;
        margin-right: 0;
    }

    .menu {
        padding-left: 0px;
        position: absolute;
        width: 100%;
    }

    .intro {
        position: absolute;
        top: 380px;
        left: 20px;
        color: white;
        width: 70%;
    }

    .intro img {
        width: 80%;
        position: absolute;
        top: -200px;
    }

    .intro h2 {
        font-size: 20px;
        position: absolute;
        top: -100px;        
    }

    .intro p {
        width: 70%;    
        font-size: 14px; 
    }

    .intro02 {
        position: absolute;
        top: 70%;
        right: -10px;
        color: white;
    }
    
    .intro02 img {
        width: 70%;
    } 

    .colunas3full {
        float: left;
        width: 100%;
        text-align: center;
        height: auto;
        position: relative;
    }

    .textoamarelo {
        position: absolute;
        top: 1370px;
        left: 5%;
        color: white;
        text-align: left;
        width: 60%;
    }

    .textoamarelo h2 {
        font-size: 24px;
    }

    .fundoamarelo img {
        width: 100%;
    }

    .containermargem {
        margin: 5vw;
    }
    .colunas2 {
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: center;
        padding: 1%;
    }

    .colunas3 {
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: center;
        padding: 1%;
    }

    .colunas4 {
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: center;
        padding: 1%;
    }

    .colunas5 {
        box-sizing: border-box;
        float: left;
        width: 50%;
        text-align: center;
        padding: 1%;
    }


    
}